<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>CGV</title>
  <link rel="stylesheet"  th:href="@{/css/mycgv.css}">
  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/index.js}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    let login_result = [[${login_result}]];
    let logout_result = [[${logout_result}]];

    if(logout_result == 'ok'){
      alert("로그아웃에 성공하셨습니다.");
    }

    if(login_result == 'ok'){
      alert("로그인에 성공하셨습니다.");
    }

    function movieList(){
      //Ajax를 이용한 데이터 가져오기
      //alert("성공");
      $.ajax({
        url:"/admin/movie/list",
        success:function(result){

          let movie = JSON.parse(result);

          let output ="<div class='s1_article'>";
          for(data of movie.list){
            output += "<article>";
            output += "<img th:src='/upload/"+data.msfile+"'>";
            output += "<div>"+data.mname+"</div>";
            output += "<div>99%  | 예매율 37.1%</div>";
            output += "</article>";
          }
          output += "</div>";

          $(".mchart").after(output);
        }
      });
    }
</script>
<style>
    .notice_list li span{
        display:inline-block;
        padding:0 8px;
    }
</style>
</head>
<body>
<!-- Header Include -->

<include th:replace="fragments/header :: header" width="100%" height="160px" scrolling="no" frameborder=0 ></include>


<!---------------------------------------------->
<!--------------- Content ----------------------->
<!---------------------------------------------->
<div class="carousel">
    <!--bootstrap4 carousel  -->
    <div id="demo" class="carousel slide" data-ride="carousel">
       <!-- Indicators -->
       <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
       </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img th:src="@{/img/img1.jpg}">
        </div>
        <div class="carousel-item">
            <img th:src="@{/img/img2.jpg}">
        </div>
        <div class="carousel-item">
            <img th:src="@{/img/img3.jpg}">
        </div>
        <div class="carousel-item">
            <img th:src="@{/img/img4.jpg}">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
       <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
       <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>

<div class="content">
  <section>
    <h3 class="mchart">무비차트 | 상영예정작</h3>
    <!--<div class="s1_article">
      <article>
        <img th:src="@{/img/82120_320.jpg}" />
        <div>탑건-매버릭</div>
        <div>99%  | 예매율 37.1%</div>
      </article>
      <article>
        <img th:src="@{/img/82120_320.jpg}" />
        <div>탑건-매버릭</div>
        <div>99%  | 예매율 37.1%</div>
      </article>
      <article>
        <img th:src="@{/img/82120_320.jpg}" />
        <div>탑건-매버릭</div>
        <div>99%  | 예매율 37.1%</div>
      </article>
      <article>
        <img th:src="@{/img/82120_320.jpg}" />
        <div>탑건-매버릭</div>
        <div>99%  | 예매율 37.1%</div>
      </article>
      <article>
        <img th:src="@{/img/82120_320.jpg}" />
        <div>탑건-매버릭</div>
        <div>99%  | 예매율 37.1%</div>
      </article>
    </div>-->
  </section>

  <section>
    <h1>특별관</h1>
    <div class="s2_article">
      <div>
        <img th:src="@{/img/16390080561620.png}" />
      </div>
      <!-- Ajax + Dynamic HTML 로 생성된 공지사항 출력위치 -->
    </div>
  </section>
  </section>

  <section>
    <ul>
      <li>
        <h3>영화관람권</h3>
        <button type="button">더보기</button>
      </li>
      <li>
        <img th:src="@{/img/16094706927780.jpg}" />
        <div>
          <label>CGV 영화관람권</label>
          <label>12,000원</label>
        </div>
      </li>
      <li>
        <img th:src="@{/img/16094706927780.jpg}" />
        <div>
          <label>CGV 영화관람권</label>
          <label>12,000원</label>
        </div>
      </li>
      <li>
        <img th:src="@{/img/16094706927780.jpg}" />
        <div>
          <label>CGV 영화관람권</label>
          <label>12,000원</label>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <h3>영화관람권</h3>
        <button type="button">더보기</button>
      </li>
      <li >
        <img th:src="@{/img/16094706927780.jpg}" />
        <div>
          <label>CGV 영화관람권</label>
          <label>12,000원</label>
        </div>
      </li>
      <li>
        <img th:src="@{/img/16094706927780.jpg}" />
        <div>
          <label>CGV 영화관람권</label>
          <label>12,000원</label>
        </div>
      </li>
      <li>
        <img th:src="@{/img/16094706927780.jpg}" />
        <div>
          <label>CGV 영화관람권</label>
          <label>12,000원</label>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <h3>영화관람권</h3>
        <button type="button">더보기</button>
      </li>
      <li >
        <img th:src="@{/img/16094706927780.jpg}" />
        <div>
          <label>CGV 영화관람권</label>
          <label>12,000원</label>
        </div>
      </li>
      <li>
        <img th:src="@{/img/16094706927780.jpg}" />
        <div>
          <label>CGV 영화관람권</label>
          <label>12,000원</label>
        </div>
      </li>
      <li>
        <img th:src="@{/img/16094706927780.jpg}" />
        <div>
          <label>CGV 영화관람권</label>
          <label>12,000원</label>
        </div>
      </li>
    </ul>
  </section>
</div>

<!-- footer Include -->
<include th:replace="fragments/footer" :: footer width="100%" height="530px" scrolling="no" frameborder=0></include>
</body>
</html>







